/* Definições de fontes */
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Estilo desktop */
body{
    background-color:#0E1014;
    color: #ffffff;
}

header img{
    display: block;
    margin: 75px 0 60px 360px;
}

h1 {
    font-family: "Unbounded", "sans-serif";
    font-size: 64px;
    text-align: center;
    margin-bottom: 24px;
}
h1 span {
    color: #9747FF;
}

p{
    font-family: "Poppins", "sans-serif";
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 0 auto;
}

a { 
    display: block; 
    text-align: center;
    line-height: 66px;
    width: 340px;
    height: 66px;
    border-radius: 36px;
    font-size: 24px;
    font-family: "Poppins", "sans-serif";
    color: #ffffff;
    background-color: #9747FF;
    text-decoration: none;

    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto 87px auto;
}

/* Estilo Tablet */
@media(max-width: 768px){
    header img{
        margin: 65px 0 72px 60px;
    }

    p{
        width: 648px;
    }
    section img{
        width: 659px;
        margin: 0 auto 49px auto;
    }
}
/* Estilo mobile */
@media(max-width: 375px){
    header img{
        margin: 32px 0 60px 16px;
    }

    h1 {
        font-size: 40px;
        width: 341px;
        margin: 0 auto 24px auto;
    }

    p{
        font-size: 20px;
        width: 341px;
    }
    a {
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 341px;
        height: 230px;
    }
}   